{% extends 'base.html' %} {% load static %} {% block content %}

<section class="text-gray-600 body-font overflow-hidden mt-0">
  <div>{% include 'snippets/alert.html' %}</div>
  
  <div class="hero pt-5 px-5 ">{% include "pharmcare/snippets/search-follow-up-plan.html" %}</div>
  <div class="container px-5 py-24 mx-auto">
    <div
      class="leads w-full mb-6 py-4 border-b border-gray-200 justify-between items-center"
    >
      <div>
        <h1 class="text-3xl text-gray-800">Patients' Monitoring Plan Information</h1>
      </div>

        {% if request.user.is_organizer or request.user.is_pharmacist %}
        <div class="text-gray-500 hover:text-blue-500">
          <a href="{% url 'pharmcare:follow-up-plan-create' %}">Go to Patient's Create Follow Up Plan Page</a> 
        </div>
        {% endif %}
      </div>
      {% if follow_up_plans|length == 0 %}
          {% if request.user.is_pharmacist %}
            <p class="px-4 w-full text-2xl text-blue-800">
               The information you are searched does not exist in our database.
              Kindly input correct data, Pharm {{request.user|title }}.
            </p>
          {% else %}
          <p class="px-4 w-full text-2xl text-blue-800"> 
            The patient information you are searched does not exist in our database.
            Kindly input correct data, Sir {{request.user|title }}.
          </p>
          {% endif %}
      {% else %}
      <div class="flex flex-wrap m-4 pb-3 ">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr class="hover:text-gray-600">
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <span>S/N</span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3">Follow up requirement</th>
                <th scope="col" class="px-6 py-3">Action taken and Future plan</th>
                <th scope="col" class="px-6 py-3">State of Improvement by Score</th>
                <th scope="col" class="px-6 py-3">Has Improved than Before?</th>
                <th scope="col" class="px-6 py-3">Adhered to Medications Given</th>
                <th scope="col" class="px-6 py-3">Referral</th>
                <th scope="col" class="px-6 py-3">Action</th>
               
              </tr>
            </thead>
           
            <tbody>
              {% for follow_up in follow_up_plans %}
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 
                hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="w-4 p-4">
                  <div class="flex items-center">
                    <span>{{follow_up.id }}</span>
                  </div>
                </td>
                <td class="px-6 py-4"> {{ follow_up.follow_up_requirement }} </td>
                <td class="px-6 py-4"> {{ follow_up.action_taken_and_future_plan }} </td>
                <td class="px-6 py-4"> {{ follow_up.state_of_improvement_by_score }} </td>
                <td class="px-6 py-4"> {{ follow_up.has_improved_than_before }} </td>
                <td class="px-6 py-4"> {{ follow_up.adhered_to_medications_given }} </td>
                <td class="px-6 py-4"> {{ follow_up.referral }} </td>
                <td class="flex items-center px-6 py-4">
                  <a
                    href="{% url "pharmcare:follow-up-plan-detail" follow_up.slug %}
                     
                    "
                    class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >For further Details</a
                  >
                </td>
            </tr>
            </tbody>
           
            {% endfor %}
          </table>
        </div>
        
        
      </div>
      <div class="px-3"> {% include 'pharmcare/snippets/paginate-follow-up-plan.html' %}</div>
    </div>
    {% endif %}
  </section>
  


{% endblock content %} 
