
{% extends "base.html" %} {% block extra_css%}

{% endblock extra_css%} {% block content %}
{% load tailwind_filters %}
<main class="max-w-lg mx-auto mb-3">
    
  <div>
    <a class="hover:text-blue-500" href="{% url 'pharmcare:patients' %}">
        Go back to Patient page</a>
  </div>

  <div class="py-3 border-t border-gray-200">  
    <h1 class="text-4xl text-gray-800 ">Create a new Patient medication history information </h1 >
  </div>
  <form method="post" class="mt-5" action="{% url 'pharmcare:patients-create' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button
            class="w-full hover:text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md"
            type="submit"
          >Submit</button>
  </form>

</main>
{% endblock content %}


