

{% extends 'base.html' %} 

{% load static %}
{% block extra_css %} 

{% endblock %}
   
{% block content %}


<section class="text-gray-600 body-font overflow-hidden mt-0">

  <div class="hero pt-5 px-5 ">{% include "pharmcare/snippets/search-patient.html" %}</div>
  <div class="container px-5 py-20 mx-auto">
    <div
      class="leads w-full mb-6 py-6 border-b border-gray-200 justify-between items-center"
    >

    <div>
        <h1 class="text-3xl text-gray-800">Patient's Account Information</h1>
      </div>

        {% if request.user.is_organizer or request.user.is_agent %}
        <div class="text-gray-500 hover:text-blue-500">
          <a href="{% url 'pharmcare:patients-create' %}">Go to Patient's Account Page</a> 
        </div>
        {% endif %}
      </div>
      </div>
      
      <div class="flex flex-wrap m-4 pb-3">
      {% comment %}   {% if patient_list|length == 0 %} 
          <p class="px-4 w-full text-2xl text-blue-800">
            Apologies, there is currently no patients with such 
            search you entered in our database. Kindly input a correct 
            data or contact the site owner. Thank you, Pharm {{ request.user.username |title }}!</p> 
         <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        {% else %}
      {% endcomment %}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr class="hover:text-gray-600">
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <span>S/N</span>
                  </div>
                </th>

                <th scope="col" class="px-6 py-3">Full name</th>
                <th scope="col" class="px-6 py-3">Patient unique code</th>
                <th scope="col" class="px-6 py-3">Has improved</th>
                <th scope="col" class="px-6 py-3">Progress note</th>
                <th scope="col" class="px-6 py-3">Medication changes</th>
                <th scope="col" class="px-6 py-3">Patients
                 </th>
                <th scope="col" class="px-6 py-3">Analysis of clinical problem</th>
                <th scope="col" class="px-6 py-3">Monitoring plan</th>
                <th scope="col" class="px-6 py-3">Follow up plan</th>
                <th scope="col" class="px-6 py-3">Total</th>
                <th scope="col" class="px-6 py-3">Date created</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
           
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 
                hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="w-4 p-4">
                  <div class="flex items-center">
                    <span>{{patient_list.id }}</span>
                  </div>
                </td>
                
                <td class="px-6 py-4">{{ patient_list.fullname }}</td>
                <td class="px-6 py-4">{{ patient_list.patient_unique_code }}</td>
                <td class="px-6 py-4">{{ patient_list.has_improved }}</td>
                <td class="px-6 py-4">{{ patient_list.progress_note }}</td>
                <td class="px-6 py-4">{{ patient_list.medication_changes }}</td>
                {% for patient_full_name in patient_list.patients.all %}
                <td class="px-6 py-4">{{ patient_full_name }}</td>

                {% endfor %}
                <td class="px-6 py-4">{{ patient_list.analysis_of_clinical_problem }}</td>
                <td class="px-6 py-4"> {{ patient_list.monitoring_plan }} </td>
                <td class="px-6 py-4"> {{ patient_list.follow_up_plan }} </td>
                <td class="px-6 py-4"> {{ patient_list.total_payment }} </td>
                <td class="px-6 py-4"> {{ patient_list.date_created }} </td>
                <td class="flex items-center px-6 py-4">
                  <a
                   href="{% url "pharmcare:patients-detail" patient_list.pk %}" 
                    class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >For further Details</a
                  >
                </td>
            </tr>
            </tbody>
           </table>
        
     </div>
 
        
      {% comment %} <div class="py-4"> {% include 'pharmcare/snippets/paginate-patients.html' %}</div>
         {% endif %} {% endcomment %}
 </section>
  


{% endblock content %} 
