{% extends 'base.html' %} {% load static %} {% block content %} {% comment %}
https://flowbite.com/docs/components/tables/ {% endcomment %}

<section class="text-gray-600 body-font overflow-hidden mt-0">
  <div class="container px-5 py-24 mx-auto">
    <div
      class="leads w-full mb-6 py-6 border-b border-gray-200 justify-between items-center"
    >
      <div>
        <h1 class="text-3xl text-gray-800">Patient Information </h1>
      </div>
      <div class="text-gray-500 hover:text-blue-500">
        <a href="{% url 'pharmcare:patient-create' %}">Go to Patient Create Page</a>
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr class="hover:text-gray-600">
            <th scope="col" class="p-4">
              <div class="flex items-center">
                <span>S/N</span>
              </div>
            </th>
            <th scope="col" class="px-6 py-3">Patient name</th>
            <th scope="col" class="px-6 py-3">Gender</th>
            <th scope="col" class="px-6 py-3">Age</th>
            <th scope="col" class="px-6 py-3">Pharm care fee</th>
            <th scope="col" class="px-6 py-3">Patient class</th>
            <th scope="col" class="px-6 py-3">Marital status</th>
            <th scope="col" class="px-6 py-3">Patient height</th>
            <th scope="col" class="px-6 py-3">BMI</th>
            <th scope="col" class="px-6 py-3">Patient history</th>
            <th scope="col" class="px-6 py-3">Past medical history</th>
            <th scope="col" class="px-6 py-3">Social history</th>
            <th scope="col" class="px-6 py-3">Action </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 
            hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <span>{{object.id }}</span>
              </div>
            </td>
            
            <td class="px-6 py-4">{{ object.first_name }} {{ object.last_name }}</td>
            <td class="px-6 py-4">{{ object.gender }}</td>
            <td class="px-6 py-4">{{ object.age }}</td>
            <td class="px-6 py-4">₦{{ object.pharm_care_fee }}</td>
            <td class="px-6 py-4">{{ object.patient_class }}</td>
            <td class="px-6 py-4">{{ object.marital_status }}</td>
            <td class="px-6 py-4">{{ object.height }}</td>
            <td class="px-6 py-4">{{ object.BMI }}</td>
            <td class="px-6 py-4">{{ object.patient_history }}</td>
            <td class="px-6 py-4">{{ object.past_medical_history }}</td>
            <td class="px-6 py-4">{{ object.social_history }}</td>
            

            <td class="flex items-center px-6 py-4">
              <a
                href="{{ patient.get_absolute_url }}patient-update/"
                class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a
              >
              <a
                href=" {% url 'pharmcare:patient-delete' object.slug %}"
                class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3"
                >Remove</a
              >
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
