{% extends "base.html" %}

{% load i18n %}
{% load tailwind_filters %}

{% block head_title %} {% trans "Change Password" %} {% endblock %}

{% block content %}
<main class="max-w-lg mx-auto">
  <div class="py-5 border-b border-gray-200">
      <section class=" border-b border-gray-200">
      
        <div class="pr-2 ">
          <h1 class="px-3 text-2xl text-gray-500">{% trans "Change Password" %}</h1>

          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full hover:text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
             name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </form>
          <div>
          </section>
        </div>
      </main>
      {% endblock %}
