{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}

{% block head_title %} {% trans "Set Password" %} {% endblock %}

{% block content %}
<main class="max-w-lg mx-auto">
    <section class="py-5 border-b border-gray-200">
      <div class="border-b border-gray-200">
                <div class="col-12">
                    <h1 class="px-3 text-2xl text-gray-500">{% trans "Set Password" %}</h1>
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <input type="submit" 
                        class="w-full hover:text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
                        name="action" value="{% trans 'Set Password' %}" />
                    </form>
                <div>
        </div>
    </section>
</main >
{% endblock %}
