{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% block head_title %} {% trans "Change Password" %} {% endblock %}
{% block content %}


<div class="max-w-lg mx-auto">
    <section class="py-5 border-b border-gray-200">
     <div class="pl-5">
        <div class="col-12">
            <h1 class='px-3 text-2xl text-gray-500'
            >{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="px-2 text-gray-800">{% blocktrans %}
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy}}
                <input type="submit"
                class="w-full hover:text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
                name="action" value="{% trans 'change password' %}" />
            </form>
            {% endif %}
            <div>
        </div>
    </div> 
    </section>
</div >
{% endblock %}
