{% extends "base.html" %}


{% load i18n %}

{% block head_title %} {% trans "Sign Up Closed" %} {% endblock %}

{% block content %}
<main class="max-w-lg mx-auto">
    <section class="py-5 border-b border-gray-200" >
      <div class="border-b border-gray-200">
   <div class="col-12">
                <h1 class='pl-3 text-2xl text-gray-500'>{% trans "Sign Up Closed" %}</h1>

                <p 'px-2 text-gray-800'>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            <div>
        </div>
    </section>
</main >

{% endblock %}
