{% extends 'base.html' %} {% load static %} {% block content %}

{% comment %} https://flowbite.com/docs/components/tables/  {% endcomment %}


<main>
    <section class="text-gray-600 body-font overflow-hidden mt-0">
      <div class="container px-5 py-12 mx-auto">
        <div
          class="leads w-full mb-6 py-6 border-b border-gray-200 justify-between items-center"
        >
          <div>
            <h1 class="text-3xl text-gray-800">Leads</h1>
            <div class="text-gray-500 hover:text-blue-500">
              <a href=" {% url 'leads:category-list' %}">View categories</a>
            </div>
          </div>

              {% if request.user.is_organizer %}
              <div class="text-gray-500 hover:text-blue-500">
                <a href="{% url 'leads:lead-create' %}">Go to Lead Create Page</a> 
              </div>
              {% endif %}
            </div>
            <div class="flex flex-wrap m-4 pb-3">
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table
                  class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 "
                >
                  <thead
                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                  >
                    <tr class="hover:text-gray-600">
                      <th scope="col" class="p-4">
                        <div class="flex items-center">
                          <span>S/N</span>
                        </div>
                      </th>
          
                      <th scope="col" class="px-6 py-3">Full name</th>
                      <th scope="col" class="px-6 py-3">Email</th>
                      <th scope="col" class="px-6 py-3">Phone number</th>
                      <th scope="col" class="px-6 py-3">Age</th>
                      <th scope="col" class="px-6 py-3">Phoned</th>
                      <th scope="col" class="px-6 py-3">Description</th>
                      <th scope="col" class="px-6 py-3">Social media account</th>
                      <th scope="col" class="px-6 py-3">Address</th>
                      <th scope="col" class="px-6 py-3">Files</th>
                      <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                  </thead>
                  {% for lead in leads %}
                  <tbody>
                    <tr
                      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50
                      dark:hover:bg-gray-600"
                    >
                      <td class="w-4 p-4">
                        <div class="flex items-center">
                          <span>{{lead.id }}</span>
                        </div>
                      </td>
          
                      <td class="px-6 py-4">
                        {{ lead.first_name }} {{ lead.last_name }}
                      </td>
                      <td class="px-6 py-4">{{ lead.email }}</td>
                      <td class="px-6 py-4">{{ lead.phone_number }}</td>
                      <td class="px-6 py-4">{{ lead.age }}yr</td>
                      <td class="px-6 py-4">{{ lead.phoned }}</td>
                      <td class="px-6 py-4">{{ lead.description }}</td>
                      <td class="px-6 py-4">{{ lead.social_media_account }}</td>
                      <td class="px-6 py-4">{{ lead.address }}</td>
                      <td class="px-6 py-4">{{ lead.files }}</td>
          
                      <td class="flex items-center px-6 py-4">
                        <a
                        href="{{ lead.get_absolute_url }}"
                        class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        >For more details</a
                        >
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>

      </section>
 
    <section>
    
  {% if unassigned_leads.exists %}
  <section class="text-gray-600 body-font overflow-hidden mt-0">
    <div class="container px-5 py-12 mx-auto">
      <div
        class="leads w-full mb-6 py-6 border-b border-gray-200 justify-between items-center"
      >
        <div>
          <h1 class="text-3xl text-gray-800">Unassigned Leads</h1>
        </div>
          </div>
          <div class="flex flex-wrap m-4 pb-3">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table
                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 "
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr class="hover:text-gray-600">
                    <th scope="col" class="p-4">
                      <div class="flex items-center">
                        <span>S/N</span>
                      </div>
                    </th>
        
                    <th scope="col" class="px-6 py-3">Full name</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Phone number</th>
                    <th scope="col" class="px-6 py-3">Age</th>
                    <th scope="col" class="px-6 py-3">Phoned</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">Social media account</th>
                    <th scope="col" class="px-6 py-3">Address</th>
                    <th scope="col" class="px-6 py-3">Files</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                  </tr>
                </thead>
              {% for lead in unassigned_leads %}
                <tbody>
                  <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50
                    dark:hover:bg-gray-600"
                  >
                    <td class="w-4 p-4">
                      <div class="flex items-center">
                        <span>{{lead.id }}</span>
                      </div>
                    </td>
        
                    <td class="px-6 py-4">
                      {{ lead.first_name }} {{ lead.last_name }}
                    </td>
                    <td class="px-6 py-4">{{ lead.email }}</td>
                    <td class="px-6 py-4">{{ lead.phone_number }}</td>
                    <td class="px-6 py-4">{{ lead.age }}yr</td>
                    <td class="px-6 py-4">{{ lead.phoned }}</td>
                    <td class="px-6 py-4">{{ lead.description }}</td>
                    <td class="px-6 py-4">{{ lead.social_media_account }}</td>
                    <td class="px-6 py-4">{{ lead.address }}</td>
                    <td class="px-6 py-4">{{ lead.files }}</td>
        
                    <td class="flex items-center px-6 py-4">
                      <a
                        href="{{ lead.get_absolute_url }}"
                        class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        >For more details</a
                        >
                        <a
                        href="{% url 'leads:assign-agent' lead.slug %}"
                        class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        >Assign to an agent</a
                        >
                    </td>
                  </tr>
                </tbody>
              {% endfor %}
              </table>
            </div>

  {% endif %}
        
  </section>

</main>
{% endblock content %}
