{% extends "base.html" %} {% block extra_css%} {% endblock extra_css%} {% block content %} {% load tailwind_filters %}
<main class="max-w-lg mx-auto mb-3">

  <div class="py-3 border-b border-gray-200">
    <h1 class="text-2xl text-gray-800">Contact us</h1>
    <p class="my-2 text-gray-800">Kindly talk to us on what you want us to do for you via text.
        Be rest assured that our customer care representative will attend to you as soon as possible.
    </p>
  </div>
  <form method="post" class="mt-5" action="."> {% comment %} {% url 'leads:category-create' %} {% endcomment %}
    {% csrf_token %} {{ form|crispy }} {{ form.media }}
    <button
      class="w-full hover:text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md"
      type="submit"
    >
      Submit
    </button>
  </form>
</main>
{% endblock content %}
