{% load static %}
<section class="bg-white dark:bg-blue-900 font-medium">
  <div class="mx-auto max-w-screen-xl text-center lg:py-3 z-10 relative">
  <header class="text-blue-600 body-font mb-4 text-1xl tracking-tight leading-none text-blue-900 md:text-1xl lg:text-2xl dark:text-white">
    <div
      class=" container w-full mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
    {% comment %} w-24 h-24 {% endcomment %}
      <img class="w-20 h-14 mb-3 rounded-full shadow-lg"
       src="{% static "images/logo.jpg" %}" alt="medconnect company-logo"/>
       
        <span class="ml-3 text-1xl tracking-tight leading-none 
        text-blue-900 md:text-1xl lg:text-2xl dark:text-white">MED-CONNECT™ </span>
      </a>
      <nav
        class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex 
        flex-wrap items-center text-base justify-center"
      >
        <a class="mr-5 hover:text-gray-900 text-1xl tracking-tight leading-none
         text-blue-900 md:text-1xl lg:text-2xl dark:text-white mr-2" href="{% url 'landing-page' %}"
          >Home</a
        >
        <a class="mr-5 hover:text-gray-900 text-1xl tracking-tight 
        leading-none text-blue-900 md:text-1xl lg:text-2xl dark:text-white" href="{% url 'pharmcare:patient' %}"
          >Pharmcare
        </a>
  
       
      </nav>
      {% if not request.user.is_authenticated %}
      <a
        class=" pl-4 px-2
        text-1xl tracking-tight leading-none text-blue-900 md:text-2xl lg:text-2xl dark:text-white"
        href="{% url 'signup' %}"
  
      >
        Signup
      </a>
      {% else %}
      
      <a class="mr-5 hover:text-gray-900 text-1xl tracking-tight leading-none text-blue-900 md:text-2xl lg:text-2xl dark:text-white" href="{% url 'leads:home-page' %}"
      >Lead</a
       >
       <a class="mr-5 hover:text-gray-900 text-1xl tracking-tight leading-none text-blue-900 md:text-2xl lg:text-2xl dark:text-white" href="{% url 'leads:category-list' %}"
          >Category
        </a>
        
        {%if request.user.is_organizer %}
     <a class="mr-5 hover:text-gray-900" href="{% url 'agents:agent-list' %}"
      >Agent</a
    >
      <a class="mr-5 hover:text-gray-900" href="{% url 'songs:contact' %}"
      >Contact Us
    </a>
      {% endif %}
      {% endif %}
  
      {% if request.user.is_authenticated %}
      <p class="px-2">Login User: {{ request.user.username|title }}</p>
     
      <a
        class=" pl-4 px-1
        text-1xl tracking-tight leading-none text-blue-900 md:text-2xl lg:text-2xl dark:text-white
         "
        href="{% url "logout" %}"
      >
        Logout
      </a>
      {% else  %}
      <a
        class=" pl-4 px-1
        text-1xl tracking-tight leading-none text-blue-900 md:text-2xl lg:text-2xl dark:text-white"
        href="{% url 'login' %}">
        Login
      </a>
      {% endif %}
    </div>
  </header>
</section>
