.pharmcare-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leads, .agents-container {
    display: flex;
    justify-content: space-between;
}

.lead-detail >.lead-update-btn {
    background-color: blue;
    border: 3px solid blue;
    border-radius: 2px
}


@media (min-width:200px) and (max-width:670px) {
    .create-pt{
        margin: 0 9em
    }
}

