{% extends "base.html" %} {% block extra_css%}

{% endblock extra_css%} {% block content %}

<main>
  <a href="{% url 'leads:home-page' %}">Go back to home page</a>
  <p>Assigned an agent to this lead</p>
  {% comment %} Action is very important for submissions - know where (url) 
  you want to submit the form  {% endcomment %}
    <form method="post" action="{% url 'leads:lead-create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button >Submit</button>

    </form>

  {% endblock content %}
</main>


