{% if  patient.has_other_pages %}

<nav
  class="d-flex justify-content-center wow fadeIn buy-online-page"
  aria-label="buy-online pagination for our  patient"
>
  <ul class="pagination pg-primary">
    {% if  patient.has_previous %}

    <li class="page-item page_items" href="?page=1">
      <a
        class="page-link page_links"
        href="?page={{  patient.previous_page_number }}"
        aria-label="Previous"
        >Previous</a
      >
    </li>
    {% endif %}
    <span class="mx-3 text-center text-primary pt-3">
      Page {{  patient.number }} of {{  patient.paginator.num_pages }}
    </span>
    <li class="page-item page_items">
      <a class="page-link page_links" href="?page={{  patient.number }}">
        {{  patient.number }}
      </a>
      <span class="sr-only">(current)</span>
    </li>

    {% if  patient.has_next %}

    <li class="page-item page_items">
      <a
        class="page-link page_links"
        href="?page={{  patient.next_page_number }}"
        aria-label="Next"
      >
        Next
      </a>
    </li>
    <li class="page-item page_items">
      <a
        class="page-link page_links"
        href="?page={{  patient.next_page_number }}"
        aria-label="Last Page"
        >Last
      </a>
    </li>
  </ul>

  {% endif %}
</nav>

{% endif %}



{% for patient in patients %}
{% if patients.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-sm">
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav>
{% endif %}

{% endfor%}


