{% if products.has_other_pages %}

<nav
  class="d-flex justify-content-center wow fadeIn buy-online-page"
  aria-label="buy-online pagination for our products"
>
  <ul class="pagination pg-primary">
    {% if products.has_previous %}

    <li class="page-item page_items" href="?page=1">
      <a
        class="page-link page_links"
        href="?page={{ products.previous_page_number }}"
        aria-label="Previous"
        >Previous</a
      >
    </li>
    {% endif %}
    <span class="mx-3 text-center text-primary pt-3">
      Page {{ products.number }} of {{ products.paginator.num_pages }}
    </span>
    <li class="page-item page_items">
      <a class="page-link page_links" href="?page={{ products.number }}">
        {{ products.number }}
      </a>
      <span class="sr-only">(current)</span>
    </li>

    {% if products.has_next %}

    <li class="page-item page_items">
      <a
        class="page-link page_links"
        href="?page={{ products.next_page_number }}"
        aria-label="Next"
      >
        Next
      </a>
    </li>
    <li class="page-item page_items">
      <a
        class="page-link page_links"
        href="?page={{ products.next_page_number }}"
        aria-label="Last Page"
        >Last
      </a>
    </li>
  </ul>

  {% endif %}
</nav>

{% endif %}
