{% extends "base.html" %} {% block extra_css%} {% endblock extra_css%} {% block
content %} {% load tailwind_filters %}

<main class="max-w-lg mx-auto">
  <div>
    <a class="hover:text-blue-500">
      Do you want to unsubscribe to our newsletter?
    </a>
    <div class="py-3 border-t border-gray-200">
      <h1 class="text-4xl text-gray-800">Create a new Agent</h1>
    </div>
  </div>

  <form class="mt-5 mb-4" method="post" action="{% url 'songs:unsubscribe' %}">
    {% csrf_token %} {{ form|crispy }}
    <button
      class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md"
    >
      Submit
    </button>
  </form>
</main>
{% endblock content %}
