{% extends 'base.html' %} 

{% load static %}
{% block extra_css %} 

{% endblock %}
   
{% block content %}

<section class="text-gray-600 body-font overflow-hidden mt-0">

  <div class="hero pt-5 px-5 ">{% include "staff/snippets/search-attendance.html" %}</div>
  <div class="container px-5 py-20 mx-auto">
    <div
      class="leads w-full mb-6 py-6 border-b border-gray-200 justify-between items-center"
    >
      <div>
        <h1 class="text-3xl pb-2 text-gray-800">Staff Attendance Register </h1>

        
      <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" 
      data-dropdown-delay="500" data-dropdown-trigger="hover" class="text-white bg-blue-700 
      hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
      rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600
       dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Attendance Register
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
        </button>
        
        <!-- Dropdown menu -->
        <div id="dropdownDelay" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
              <li>
                <a href="{% url 'staff:attendance' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Attendance </a>
              </li>
            {% comment %}   <li>
                <a href="{% url 'staff:assigned-management' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Attendance </a>
              for pt in p:
              </li> {% endcomment %}
              {% if request.user.is_organizer %}
              <li>
                <a href="{% url 'staff:management-list' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Management </a>
              </li>
              {% endif %}
              <li>
            </ul>
          </div>
      </div>

        {% if request.user.is_organizer or request.user.is_management %}
        <div class="text-gray-500 hover:text-blue-500">
          <a href="{% url 'staff:attendance-create' %}">Go to Management Create Page</a> 
        </div>
        {% endif %}
      </div>
      <div class="flex flex-wrap m-4 pb-3">
        {% if attendance|length == 0 %}
          <p class="px-4 w-full text-2xl text-blue-800">
            Apologies, there is currently no staff with such 
            search you entered in our database. Kindly input a correct 
            data or contact the site owner. Thank you,  {{ request.user.username|title }}!</p> 
        {% else %}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr class="hover:text-gray-600">
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <span>S/N</span>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3">Full name</th>
                <th scope="col" class="px-6 py-3">Sign in time</th>
                <th scope="col" class="px-6 py-3">Sign out time</th>
                <th scope="col" class="px-6 py-3">staff daily unique attendance ref</th>
                <th scope="col" class="px-6 py-3">Sign in Date</th>
                <th scope="col" class="px-6 py-3">Organization</th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
         {% for staff in attendance %}
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 
                hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="w-4 p-4">
                  <div class="flex items-center">
                    <span>{{staff.id }}</span>
                  </div>
                </td>
                <td class="px-6 py-4">{{ staff.full_name }}</td>
                <td class="px-6 py-4">{{ staff.get_sign_in_time }}</td>
                <td class="px-6 py-4">{{ staff.get_sign_out_time }}</td>
                <td class="px-6 py-4">{{ staff.staff_attendance_ref }}</td>
                <td class="px-6 py-4">{{ staff.date_added  }}</td>
                <td class="px-6 py-4">{{ staff.organization|title }}</td>
              
                <td class="flex items-center px-6 py-4">
                   <a href="{% url "staff:attendance-detail" staff.slug %}"
                      class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline" 
                      >For further Details
                    </a>
                </td>
            </tr>
            </tbody>
          
           {% endfor %}
        </table>
      </div>
  
  
    </div>
      <div class="px-3 pb-3">{% include 'staff/snippets/paginate-attendance.html' %} </div>
    </div>
        {% endif %}
    {% if unassigned_management.exists %}

      
          {% for staff in unassigned_management %}
        
      <div class="mt-5 flex flex-wrap -m-4">
         
          <div class="p-4 w-full text-3xl text-gray-800">
            <h1>Unassigned Staff Attendance Record</h1>
          </div>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table
              class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
            >
              <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr class="hover:text-gray-600">
                  <th scope="col" class="p-4">
                    <div class="flex items-center">
                      <span>S/N</span>
                    </div>
                  </th>
                   <th scope="col" class="px-6 py-3">Full name</th>
                    <th scope="col" class="px-6 py-3">Sign in time</th>
                    <th scope="col" class="px-6 py-3">Sign out time</th>
                    <th scope="col" class="px-6 py-3">staff daily unique attendance ref</th>
                    <th scope="col" class="px-6 py-3">Organization</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
              </thead>
        
              <tbody>
                <tr
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 
                  hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                  <td class="w-4 p-4">
                    <div class="flex items-center">
                      <span>{{staff.id }}</span>
                    </div>
                  </td>
                  <td class="px-6 py-4">{{ staff.full_name }}</td>
                  <td class="px-6 py-4">{{ staff.sign_in_time }}</td>
                  <td class="px-6 py-4">{{ staff.sign_out_time }}</td>
                  <td class="px-6 py-4">{{ staff.staff_attendance_ref }}</td>
                  <td class="px-6 py-4">{{ staff.organization }}</td>
                  <td class="flex items-center px-6 py-4">
                    <a
                      href="{{staff.get_absolute_url }}"
                      class="pr-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"
                      >For further Details</a
                    >
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
          {% empty %}
          <p>There are currently no staff. Thank you.</p>
          {% endfor %}
        </div>

        <div class="py-4"> {% include 'staff/snippets/paginate-attendance.html' %}</div>
    {% endif %}
      
  </section>
  


{% endblock content %} 
